<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="bucketName" value="sportsappstorage"/>
    <add key="accessKey" value="AKIAU5JAQ2O2TQF2HNOA"/>
    <add key="secretKey" value="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"/>
	</appSettings>	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
